* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    /* background: #fee1e1; */
    background: beige;
    // background: rgb(97, 189, 228);
    background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
	font-family: 'Licorice', cursive;
}

// .home {
// 	height: 90vh;
// }


/* Style the navbar */
#navbar {
	z-index: 2;
    overflow: hidden;
    // background-color: #f8b1d8;
    background-color: #f93aa3c6;
    /* background-color: #fee1e1; */

	a {
		font-size: 25px;
	}

  }
  
  /* Navbar links */
  .link-container {
	height: 50px;
    /* float: left; */
    /* display: block; */
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .link-container a {
    /* float: left; */
    /* display: block; */
    
    color: #f2f2f2;
    color: #5a014a;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  /* Page content */
  /* .content {
    padding: 16px;
  } */
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  
h1 {
    color: #26a4ca;
    color: #000000;
    text-align: center;
    font-size: 75px;
}

h2 {
	font-size: 45px;
    color: #4a5ab3;
    text-align: center;
}

p {
    margin: 1.2rem;
	font-size: 30px;
}



img {
    width: 600px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding: 5px;
    border-radius: 1rem;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.column {
    /* border: 2px solid #9298ba; */
    width: 50%;
    height: fit-content
}


.main {
    position: relative;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    
	height: calc(100vh - 150px);
    margin: 0px auto;
    // margin-top: 50px;
    // margin-bottom: 50px;

	// !!!
    // max-width: 1200px;

    background: #fee1e1;
    background: #fee1e183;
    background: beige; 
    background: transparent; 
	// border: 5px solid green;
}

// .home, .drawings, .about (FULL WIDTH)
.full-width-drw {
	position: absolute;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;

	// THIS WILL ALIGN CONTENT TO LEFT:
	// max-width: 1200px;

	height: 90%;
	// height: calc(100vh - 200px);

	// HIDE OVERFOLOW TO ACCOMODATE HEIGHT ANIMATION
	overflow: hidden;
	// border: 1px solid rebeccapurple;
}

// .home, .drawings {
// 	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
// }

// .home-content, .drawings-content, .about-content (MAX WIDTH: 1200)
.max-width-content {
	// position: absolute;
	width: 100%;
	max-width: 1200px;
	border-radius: 1em;
	// border: 5px solid rgb(19, 137, 139);
}

.max-width-content.non-about {
	// background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
	// background-image: linear-gradient(to right, #ffecd28a 0%, #fcb69fb0 100%);
	background-color: rgba(255, 123, 0, 0.226);
}

.about {
	// max-width: 1200px;
	overflow: scroll;
	// background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

// ===== HOME =====

.max-width-content.home-content {
	background-image: url("../images/butterfly.jpg");
	background-size: cover;
	// !!! ONLY WORKS ON PAGE LOAD !!!
	// opacity: 0.3;

	h1 {
		margin-top: 5%;
	}
}

footer {
    // background-color: #f8b1d8;
	background-color: #f93aa3c6;
    width: 100%;
    height: 100px;
}


.gallery-container {
	width: 95%;
	margin: 20px auto;
	// border: 3px solid royalblue;

	img.modal {
		width: 100px;
		width: 12%;
		// border: 3px solid red;
	}
}

